@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;
color rojo: #fa573a
color azul: #21242e
 */

.go-up-button {
    display: inline-block;
    position: fixed;
    bottom: 3px;
    right: 3px;
    padding: 0.6em 0.8em;
    background: linear-gradient(45deg, #e22504, #ff6246);
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.go-up-button:hover i {
    transition: 0.5s;
    transform: translateY(-2px);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
}

.container-fluid {
    width: 100%;
}

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

/* row:after porque vamos a hacer flotaciones */
.row:after {
    clear: both;
    content: "";
    height: 0;
    display: block;
}
    
img {
    width: 100%;
    height: auto;
    display: block;
}

/* Inicio Header */
header .nav-top {
background-color: #21242e;
color: white;
padding: 20px 0;
}

header .nav-top .container > div {
    float: left;
    width: 25%;
}

header .nav-top a {
color: white;
text-decoration: none;
font-size: 1.5rem;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    color: #fa573a;
}

header .nav-top .container div:nth-child(3),
header .nav-top .container div:last-child {
text-align: right;
}

/* Inicio nav */
header nav {
    padding: 20px 3%;
}

header .hamburguesa {
    cursor: pointer;
    float: right;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    width: 1.875em;
    margin-bottom: 0.625em;
}

header nav .logo {
    width: 100px;
    float: left;
}

header nav .menu {
    padding-top: 60px;
}

header nav .menu li {
    padding: 1.25em;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child {
    border: none;
}

header nav .menu li a {
    text-decoration: none;
    color: #aaa;
    display: block;
}

header nav .menu li a.activo,
header nav .menu li a:hover {
    color: #fa573a;
}

main {
    background-color: #21242e;
    color: white;
}

main .container {
    width: 80%;
}

main h2 {
    font-family: "Handlee", cursive;
    font-size: 2em;
    text-align: center;
    padding-top: 1.2em;
}

main h2 span {
    color: #fa573a;
}

main .underline {
    position: relative;
    width: 4em;
    margin: 4px auto 2.5em auto;
    font-weight: bold;
    color: #fa573a;
    text-align: center;
}

main .underline hr {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 0;
    border: none;
    border-bottom: 2px solid #fa573a;
}

main .active {
    border-radius: 4px;
    background-color: #fa573a;
}

main .container ul {
    margin-bottom: 2em;
}

main .container ul li {
    padding: 0.8em 1em;
    cursor: pointer;
}

main .container h3 {
    font-weight: bold;
}

main .container h3 + hr {
    width: 3em;
    height: 0;
    margin-left: 0;
    border: none;
    border-bottom: 2px solid #fa573a;
}

main .meals article {
    margin-top: 2em;
}

main .meals article header {
    margin: 1em 0;
}

main .meals article header h3 {
    display: inline-block;
}

main .meals article header span {
    display: inline-block;
    font-weight: bold;
    color: #fa573a;
    padding: 0.5em;
}

main section p {
    font-size: 0.9em;
}

main .meals .order-now {
    color: #fa573a;
    padding: 1.5em 0;
}

main .meals .order-now a {
    font-size: 0.9em;
    color: #fa573a;
    text-decoration: none;
}

main .meals .order-now:hover i {
    transition: transform 0.5s;
    transform: translateX(5px);
}

footer {
    background-color: #21242e;
    padding: 1.25em 0;
}

footer p {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (min-width: 48.063em) /* 768px */ {
    header .nav-top a span {
        display: inline;
        font-size: 68%;
    }
}

@media (min-width: 62.750em) /* 1004px */ {
    header .hamburguesa {
        display: none;
    }

    header nav .menu {
        padding-top: 0;
        float: right;
    }

    header nav .menu li {
        display: inline-block;
        padding: 0.5em;
        border-bottom: 0;
        text-align: left;
    }

    header nav .menu li {
        padding-right: 0;
    }

    main .select-lunch-time {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }

    main .meals {
        width: 69%;/* no encaja bien con 70% */
        display: inline-block;
        margin: 0;
        padding-left: 10%;
    }

    main .meals article {
        display: flex;
    }

    /* image wrapper */
    main .meals article div:first-child {
        width: 35%;
        max-width: 180px;
        margin-right: 15px;
    }

    main .meals article header {
        margin: 0 0 1.5em 0;
        display: flex;
    }

    main .meals article header span {
        padding: 0;
        padding-left: 6px;
    }

    footer {
        padding: 2em 0;
    }
}